.conone {
  width: 100%;
  background-color: var(--color-secondary);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 1rem;
}

.header {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.text img {
  width: 32px;
}
.header span {
  background-color: rgb(175, 175, 175);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

@media (max-width: 768px) {
  .conone {
    width: 100%;
    background-color: var(--color-secondary);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 1rem;
  }

  .header {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
  }
  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .text img {
    width: 16px;
  }
  .text h1 {
    font-size: 1rem;
  }
  .text h5 {
    font-size: 1rem;
  }
  .header span {
    font-size: 0.5rem;
  }
}
