.main {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

@media (max-width: 768px) {
  .main {
    padding: 1rem;
    flex-direction: column;
  }
}
