@import "/src/vars.css";
.adcontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(    to left,    var(--color-tertiary),    var(--color-quad)  );
  color: white;
  padding: 2rem 3rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  text-align: center;
  gap: 1rem;
}
.adcontainer img {
  width: 100%;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  border-radius: 10px;
  color: black;
  font-weight: 600;
  background-color: var(--color-secondary);
  padding: 1rem 0rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
