@import "/src/vars.css";
.footer {
  width: 100%;
  padding: 4rem 5rem;
  background-color: #010101;
}
.row {
  display: flex;
  justify-content: space-between;
  color: white;
}
.social {
  display: flex;
  color: var(--color-tertiary);
  gap: 1rem;
}
.col {
  padding: 1rem 0rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
